{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/base.html' %}

{% block head_tail %}
{{ super() }}
<link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet">
{% endblock %}

{% block page_body %}
<div class="container">
    <div class="row" style="height: 50px;">
        <div class="col-md-2" role="navigation">
        </div>
        <div class="col-md-10" role="navigation">
            <h1>{{ project_name }} Web UI</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2" role="navigation">
            <ul class="nav nav-pills nav-stacked">
                {{ layout.menu() }}
                {{ layout.menu_links() }}
            </ul>
        </div>
        <div class="col-md-10">
            <div id="content" class="row">
                {{ layout.messages() }}
                <hr>
                {% block body %}{% endblock %}

                <hr>
                <div id="example_spider">
                    <h3>
                        Crawling for spider <span class="filename">...</span>
                    </h3>
                        <span class="pull-right">
                            <small class="item_scraped"></small>
                            <small class="page_scraped"></small>
                            <small class="number_of_inputs"></small>
                            <small class="status_scraper"></small>
                        </span>
                        <br>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="0" style="width: 0;">
                            0%
                        </div>
                    </div>
                    <button type="button" class="btn" onclick="clickStop('stop_crawling_example_spider')">Stop Crawling for spider <span class="filename"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/admin/vendor/jquery.min.js?v=2.1.4"></script>
<script src="/static/script.js"></script>

{% endblock %}
